.footer
  text-align: center
  background-color: #262B2E
  color: #BBB8B9
  padding: 88px
  &__title
    .title__head
      font-size: 1.5rem
  &__link
    display: inline-block
    width: 40px
    height: 40px
    margin-right: 10px
    background-color: #424648
    border-radius: 3px
    &:hover
      background-color: $c-green

    &:before
      width: 0
      height: 100%
      content: ''
      display: inline-block
      vertical-align: middle
    &:last-child
      margin-right: 0
  &__icon
    display: inline-block
    vertical-align: middle
    font-size: 1.3rem
  &__bottom
    margin-top: 30px

