.header
  background-color: #63ADAC
  padding: 34px 0
  box-shadow: 1px 12px 13px 3px #63ADAC
  &__form

  &__avatar
    img
      border-radius: 50%
  &__top
    display: flex
    justify-content: space-around
    align-items: center
  &__logo
    color: #ffffff
    font-size: 1.3rem
    font-family: $ff-main-bold

