.hero
  text-align: center
  background: url("../img/hero.jpg") no-repeat  center bottom/cover
  padding-bottom: 50px
  color: #ffffff


  &__title
    padding: 100px 0 20px 0
    text-transform: uppercase
    font-size: 4rem
    font-family: $ff-head
    text-transform: uppercase
    margin-bottom: 8px
    span
      color: $c-greenDark
  &__head
    margin-bottom: 30px

  &__button
    background-color: #FFFFA2
    text-transform: uppercase
    padding: 13px 52px
    font-size: 1rem
    border: none
    border-radius: 20px/50%
    font-family: $ff-main-black
