.nav
  margin-left: auto
  margin-right: 20px
  &__item
    font-family: $ff-main-bold
    padding: 15px 25px
    color: #ffffff
    margin-right: 15px
    box-sizing: border-box
    border: 2px solid transparent
    &:hover
      border-color: #fff
      border-radius: 30px/50%

    &:last-child
      margin-right: 0
