.sayings
  padding: 109px 0 220px
  background-color: $c-bg-dark
  &__case
    width: 370px

  &__title
    margin-bottom: 100px
  &__content
    display: flex
    position: relative
  &__slider
    margin-right: 50px

  &__text
    background-color: $c-bg-dark
    padding: 90px 60px
    text-align: center
    width: 50%
    h5
      font-family: $ff-head-3
      margin-bottom: 30px
  &__arrows
    position: absolute
    right: 58px
    bottom: 36px

  &__button
    padding: 16px 21px
    border-radius: 3px
    background-color: #fff
    color: #CBCBCB
    margin: 5px
    box-shadow: 6px 4px 5px #CBCBCB
    position: absolute
    outline: none
    border: none
    font-size: 1.1rem
    &-prev
      right: 20px
    &:hover
      background-color: $c-green
      color: #25514D



