.services
  padding-top: 116px
  background-color: #F9FBFB
  padding-bottom: 74px

  &__case
    display: flex
  &__proj
    //flex-shrink: 0.5
    padding: 4px
    position: relative
  &__description
    padding-right: 30px
    color: #999
    position: absolute
    top: 55px
    left: 64px
    height: 100%
    line-height: 1.8
    h3
      font-family: $ff-head-3
      text-transform: uppercase
      margin-bottom: 20px
      font-size: 1.2rem
  .close, .more
    position: absolute
    bottom: 80px
    border: none
    background-color: inherit
    color: #8E8E8E
    text-transform: uppercase
  .close
    display: none
    font-size: 2rem
  &__title
    margin-bottom: 115px

