.team
  margin: 116px 0
  &__title
    margin-bottom: 111px
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__item

    padding: 5px
    position: relative
  &__description
    display: none
    position: absolute
    top: 150px
    left: 10px
    right: 10px
    background-color: $c-green
    padding: 15px
    margin: 10px
    font-size: 0.9rem
    h5
      font-family: $ff-head-3
      margin: 15px 0
    span
      font-family: $ff-main
    .socblock
      margin: 20px 0


    &:before
      content: ''
      display: block
      position: absolute
      border: 10px solid transparent
      border-bottom-color: $c-green
      top: -20px

