@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/Lato/Lato-Light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Light/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light/Lato-Light.otf") format("otf");
}

@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular/Lato-Regular.otf") format("otf");
}

@font-face {
  font-family: "lato-black";
  src: url("../fonts/Lato/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold/Lato-Bold.otf") format("otf");
}

@font-face {
  font-family: 'chunkfive';
  src: url("../fonts/ChunkFive/ChunkFive.eot?#iefix") format("embedded-opentype"), url("../fonts/ChunkFive/ChunkFive.woff") format("woff"), url("../fonts/ChunkFive/ChunkFive.otf") format("otf");
}

html {
  font-size: 16px;
}

body {
  font-family: "lato";
  color: #808181;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

.container {
  max-width: 1164px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.title {
  text-align: center;
}

.title__head {
  font-size: 2.4rem;
  font-family: "chunkfive";
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title__text {
  text-transform: uppercase;
  font-family: "lato-bold";
  font-size: 1.1rem;
}

.header {
  background-color: #63ADAC;
  padding: 34px 0;
  -webkit-box-shadow: 1px 12px 13px 3px #63ADAC;
          box-shadow: 1px 12px 13px 3px #63ADAC;
}

.header__avatar img {
  border-radius: 50%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "lato-bold";
}

.nav {
  margin-left: auto;
  margin-right: 20px;
}

.nav__item {
  font-family: "lato-bold";
  padding: 15px 25px;
  color: #ffffff;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
}

.nav__item:hover {
  border-color: #fff;
  border-radius: 30px/50%;
}

.nav__item:last-child {
  margin-right: 0;
}

.hero {
  text-align: center;
  background: url("../img/hero.jpg") no-repeat center bottom/cover;
  padding-bottom: 50px;
  color: #ffffff;
}

.hero__title {
  padding: 100px 0 20px 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "chunkfive";
  text-transform: uppercase;
  margin-bottom: 8px;
}

.hero__title span {
  color: #00A3A8;
}

.hero__head {
  margin-bottom: 30px;
}

.hero__button {
  background-color: #FFFFA2;
  text-transform: uppercase;
  padding: 13px 52px;
  font-size: 1rem;
  border: none;
  border-radius: 20px/50%;
  font-family: "lato-black";
}
