html
  font-size: 16px
body
  font-family: $ff-main
  color: $c-font
button
  outline: none
textarea
  outline: none


.container
  max-width: 1164px
  margin: 0 auto
a
  color: inherit
  text-decoration: none

img
  vertical-align: middle