@font-face
  font-family: 'lato'
  src: url('../fonts/Lato/Lato-Light/Lato-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Lato/Lato-Light/Lato-Light.woff') format('woff'),
  url('../fonts/Lato/Lato-Light/Lato-Light.otf') format('otf')

@font-face
  font-family: 'lato-bold'
  src: url('../fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Lato/Lato-Regular/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato/Lato-Regular/Lato-Regular.otf') format('otf')


@font-face
  font-family: "lato-black"
  src: url("../fonts/Lato/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Lato/Lato-Bold/Lato-Bold.woff") format("woff"),
  url("../fonts/Lato/Lato-Bold/Lato-Bold.otf") format("otf")



@font-face
  font-family: 'chunkfive'
  src: url("../fonts/ChunkFive/ChunkFive.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ChunkFive/ChunkFive.woff") format("woff"),
  url("../fonts/ChunkFive/ChunkFive.otf") format("otf")

