header.header
    .container
        .header__top
            .header__logo YokNgalam
            include nav
            .header__form
                .header__avatar
                    img(src='../img/avatar.jpg')
                form.form__login(style='display:none')
                    input.form__text(type='text' placeholder='login')
                    input.form__text(type='text' placeholder='password')
                    button.form__submit(type='sunmit') submit



