section.hero
    .container
        .hero__title Lets get&#8194
            span lost
        .hero__head
            br
            span Malang will never dissapointed you.
                br
            |From every step you took you will be amazed and suddenly fallin love with Malang
        button.hero__button Contact Us