section.team
    .container
        .title.team__title
            .title__head Small team
            h1.title__text Lorem ipsum dolor sit amet, consectetur adipisicing.

        ul.team__list
            -for (var i=1; i<=6; i++) {
            li.team__item
                img(src='img/team'+ i + '.jpg')
                .team__description
                    h5 Al Rayhan
                        span / UI Designer
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, voluptate.
                    .socblock
                        a(href='#') face
                        a(href='#') tw
                        a(href='#') in
                        a(href='#') vk
            -}